@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");

:root {
  /* Primary */
  --Dark-cyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);

  /* Neutral */
  --Very-dark-blue: hsl(212, 21%, 14%);
  --Dark-grayish-blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);

  /* Font families */
  --Montserrat: "Montserrat", sans-serif;
  --Fraunces: "Fraunces", serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  display: grid;
  place-content: center;
  background-color: var(--Cream);
  min-height: 100vh;
}

h1 {
  font-size: 2rem;
}

p {
  font-family: var(--Montserrat);
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--Dark-grayish-blue);
}

main {
  padding: 1rem;
}

.product {
  background-color: var(--White);
  font-family: var(--Fraunces);
  font-weight: 700;
  color: var(--Very-dark-blue);
  border-radius: 0.6rem;
  overflow: hidden;
  max-width: 40rem;
}

.product-type {
  text-transform: uppercase;
  letter-spacing: 5px;
}

.product-description {
  line-height: 1.5;
}

.product-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
}

.product-price > * {
  font-weight: 700;
  font-family: var(--Fraunces);
}

.product-price {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.former-price {
  font-weight: 500;
}

.current-price {
  color: var(--Dark-cyan);
  font-size: 2rem;
}

.btn-cart {
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-family: var(--Montserrat);
  font-size: 1rem;
  font-weight: 700;
  color: var(--White);
  background-color: var(--Dark-cyan);
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.btn-cart:hover {
  background-color: hsl(158, 36%, 17%);
}

@media (min-width: 600px) {
  .product {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .product-preview img {
    height: 100%;
  }
  .product-info {
    gap: 2rem;
  }
}
